@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    <div class="button">
        <a href="@Url.Action("New", "DiagnosisCategories")" class="btn btn-success add-category add-settings-item disable-default" data-klass="DiagnosisCategory">
            <i class="fa fa-plus"></i> Add new diagnosis category
        </a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category Name</th>
                <th>Edit</th>  
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.DiagnosisCategories)
            {
                <tr>
                    <td>@category.ID</td>
                    <td>@category.CategoryName</td>
                    <td>
                        <a href="@Url.Action("Edit", "DiagnosisCategories", new { id= category.ID })" class="btn btn-primary edit-diagnosis-category edit-link disable-default">
                            <i class="fa fa-edit"></i> 
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "DiagnosisCategories", new { id= category.ID })" class="btn btn-danger edit-diagnosis-category disable-default delete-link">
                            <i class="fa fa-trash"></i> 
                        </a>
                    </td>
                </tr>
            }           
        </tbody>
    </table>
</div>