<p>Manage system collections</p>
<hr class="simple">
@Html.Partial("~/Views/Home/_Spinner.cshtml")
<ul id="settings" class="nav nav-tabs bordered">
    <li class="active">
        <a href="#diagnosis-types" data-toggle="tab" aria-expanded="true"><i class="fa fa-heartbeat fa-2x"></i>&nbsp; Diagnosis Types</a>
    </li>
    <li>
        <a href="#diagnosis-categories" data-toggle="tab"><i class="fa fa-ambulance fa-2x"></i>&nbsp; Diagnosis Categories</a>
    </li>
    <li>
        <a href="#drugs" data-toggle="tab" aria-expanded="false"><i class="fa fa-medkit fa-2x"></i>&nbsp; Drugs</a>
    </li>
    <li>
        <a href="#side-effects" data-toggle="tab" aria-expanded="false"><i class="fa fa-user-md fa-2x"></i>&nbsp; Side Effects</a>
    </li>
    <li>
        <a href="#radiology" data-toggle="tab" aria-expanded="false" style="height: 48px">
            <i class="fa fa-stethoscope fa-2x"></i>&nbsp; Radiology                                                                     
        </a>
    </li>
    <li>
        <a href="#crfs" data-toggle="tab" aria-expanded="false" style="height: 48px">
            <i class="fa fa-list-alt fa-2x"></i>&nbsp; Case Report Forms
        </a>
    </li>
</ul>

<div id="settings-content" class="tab-content padding-10">
    <div class="tab-pane fade in active" id="diagnosis-types">
        @Html.Partial("/Views/Settings/_DiagnosisTypes.cshtml")
    </div>
    <div class="tab-pane fade" id="diagnosis-categories">
        @Html.Partial("/Views/Settings/_DiagnosisCategories.cshtml")
    </div>
    <div class="tab-pane fade" id="drugs">
        @Html.Partial("/Views/Settings/_Drugs.cshtml")
    </div>
    <div class="tab-pane fade" id="side-effects">
        @Html.Partial("/Views/Settings/_SideEffects.cshtml")
    </div>
    <div class="tab-pane fade" id="radiology">
        @Html.Partial("/Views/Settings/_Radiology.cshtml")
    </div>
    <div class="tab-pane fade" id="crfs">
        @Html.Partial("/Views/Settings/CaseReportForms/_Index.cshtml")
    </div>
</div>
