<div class="jarviswidget" id="wid-id-7">

    <header role="heading">

        <ul class="nav nav-tabs pull-left in">
            <li class="active">
                <a data-toggle="tab" href="#hr1" aria-expanded="false"> 
                <i class="fa fa-lg fa-arrow-circle-o-down"></i> 
                <span class="hidden-mobile hidden-tablet"> Radiology Options </span> </a>
            </li>
        </ul>
    </header>
    <div>

        <div class="widget-body">
            <div class="tab-content">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#findings" data-toggle="tab" >Findings</a>
                        </li>
                        <li class="">
                            <a href="#chest-locations" data-toggle="tab" >Chest Locations</a>
                        </li>
                        <li class="">
                            <a href="#chest-distributions" data-toggle="tab">Chest Distributions</a>
                        </li>
                        <li class="">
                            <a href="#grades" data-toggle="tab" >Grades</a>
                        </li>
                        <li class="">
                            <a href="#responses" data-toggle="tab">Treatment Responses</a>
                        </li>
                        <li class="">
                            <a href="#radiology-types" data-toggle="tab" >Radiology Types</a>
                        </li>
                    </ul>
                    <div class="tab-content padding-10">
                        <div class="tab-pane active in" id="findings">
                            @Html.Partial("/Views/Settings/Radiology/_Findings.cshtml")
                        </div>
                        <div class="tab-pane fade" id="chest-locations">
                          @Html.Partial("/Views/Settings/Radiology/_ChestLocations.cshtml")
                        </div>
                        <div class="tab-pane fade" id="chest-distributions">
                           @Html.Partial("/Views/Settings/Radiology/_ChestDistributions.cshtml")
                        </div>
                        <div class="tab-pane fade" id="grades">
                            @Html.Partial("/Views/Settings/Radiology/_Grades.cshtml")
                        </div>
                        <div class="tab-pane fade" id="responses">
                            @Html.Partial("/Views/Settings/Radiology/_Responses.cshtml")
                        </div>
                        <div class="tab-pane fade" id="radiology-types">
                            @Html.Partial("/Views/Settings/Radiology/_RadiologyTypes.cshtml")
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
