@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldViewModel;
<div class="row">
    <div class="inline-group labels">
        @foreach (var option in @Model.Field.Options)
            {
            <label class="checkbox">
                <input type="checkbox" name="CaseReportFormPatientResult[@Model.Index].SelectedIds" value="@option.CaseReportFormOptionChoiceId">
                @Html.Hidden("Results[" + Model.Index + "].CaseReportFormFieldId", Model.Field.ID)
                <i></i>
                <span class="checkbox-label">
                    @option.Option.Name
                </span>
                @Html.Hidden("Results[" + Model.Index + "].ValidationResult", "")
            </label>
        }
    </div>
</div>