@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldViewModel;
<fieldset>
    <div class="form">
        <div class="form-group">
            <label class="col-md-2 control-label">@Model.Field.Label</label>
            <div class="col-md-12">

                @foreach (var option in @Model.Field.Options)
                {
                    <label class="radio">
                        <input type="radio" class="radiobox" name="Results[@(Model.Index)].SelectedId" value="@option.CaseReportFormOptionChoiceId">
                        <span>@option.Option.Name</span>
                    </label>
                    
                }
                @Html.Hidden("Results["+ Model.Index + "].CaseReportFormFieldId", Model.Field.ID)
                @Html.Hidden("Results[" + Model.Index + "].ValidationResult", "")
            </div>
        </div>
    </div>
</fieldset>
    
