@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldResultViewModel;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Field.Label</label>
    </section>
    <section class="col col-5">
        <label class="input">
            <input name="CaseReportFormResult[@(Model.FormIndex)].Results[@Model.Index].DateAnswer" placeholder="@Model.Field.Label" class="datepicker form-control" value="@Model?.Result?.DateAnswer?.ToString("dd-MM-yyyy")">
            @Html.Hidden("CaseReportFormResult[" + Model.FormIndex + "].Results["+ Model.Index + "].CaseReportFormFieldId", Model.Field.ID)
        </label>
        @Html.Hidden("CaseReportFormResult[" + Model.FormIndex + "].Results[" + Model.Index + "].ValidationResult", "")
        @Html.Hidden("CaseReportFormResult[" + Model.FormIndex + "].Results[" + Model.Index + "].ID", Model?.Field?.ID)
    </section>
</div>
