@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldResultViewModel;
<fieldset>
    <div class="form">
        <div class="form-group">
            <label class="col-md-2 control-label">@Model.Field.Label</label>
            <div class="col-md-12">

                @foreach (var option in @Model.Field.Options)
                {
                    var ids = Model?.Result.Options.Select(o => o.CaseReportFormOptionChoiceId).ToList();
                    var selected = ids.Where(id => ids.Contains(option.CaseReportFormOptionChoiceId)).FirstOrDefault();
                    var isChecked = selected == option.CaseReportFormOptionChoiceId;
                    <label class="radio">
                        <input type="radio" class="radiobox" name="CaseReportFormResult[@(Model.FormIndex)].Results[@(Model.Index)].SelectedId" value="@option.CaseReportFormOptionChoiceId" @(isChecked ? "checked=checked" : "")>
                        <span>@option.Option.Name</span>
                    </label>
                    
                }
                @Html.Hidden("CaseReportFormResult[" + Model.FormIndex + "].Results[" + Model.Index + "].CaseReportFormFieldId", Model.Field.ID)
                @Html.Hidden("CaseReportFormResult[" + Model.FormIndex + "].Results[" + Model.Index + "].ValidationResult", "")
                @Html.Hidden("CaseReportFormResult[" + Model.FormIndex + "].Results[" + Model.Index + "].ID", Model?.Field?.ID)
            </div>
        </div>
    </div>
</fieldset>
    
