@model AspergillosisEPR.Models.PatientViewModels.PatientDetailsViewModel

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    ViewData["Title"] = Model.Patient.FullName + " Details";
}

<h2>Demographic info</h2>
@Html.Partial("/Views/Patients/Details/Details.cshtml")
@if(Model.ShowDiagnoses)
{
    <h2>Diagnosis info</h2>
    @Html.Partial("/Views/Patients/Details/Diagnosis.cshtml")
}
@if (Model.ShowDrugs)
{
    <h2>Drugs monitoring</h2>
  @Html.Partial("/Views/Patients/Details/Drugs.cshtml")
}

@if (Model.ShowSGRQ)
{
    <h2>SGRQ - Saint Georges Respiratory Questionnaire</h2>
        <div style="width: 1000px; height: 600px; margin-bottom: 20px">
             <img width="1000" height="600" src="/Files/Exported/PDF/@(Model.SgrqImageChartFile).png" />
        </div>
        @Html.Partial("/Views/Patients/Details/STGQuestionnaire.cshtml")
        }
        @if (Model.ShowIg)
        {
            <h2>Immunoglobuline Levels</h2>
            @Html.Partial("/Views/Patients/Details/Ig.cshtml")
        }


        <script>
            $(function () {
                var patientId = window.location.href.split("=")[1];
                $.getJSON("PatientCharts/SGRQ?patientId=" + patientId, function (response) {
                    Charts.chartFromResponse(response);
                });
            });
        </script>
