@model List<PatientImmunoglobulin>;
@using AspergillosisEPR.Helpers;
@{
    int cursor = 0;
    @foreach (var igGroup in Model.OrderByDescending(ig => ig.DateTaken).GroupBy(ig => ig.ImmunoglobulinTypeId))
    {
        <div class="col-sm-12" style="margin-top: 15px">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Ig Type</th>
                        <th>Date</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ig in igGroup)
                    {
                        <tr class="row-with-date" data-unix-date="@(DateHelper.DateTimeToUnixTimestamp(ig.DateTaken))">
                            <td>

                                <label class="checkbox">
                                    <input type="checkbox" name="ImmunologyExamination[@cursor].Selected" />
                                    <input type="hidden" name="ImmunologyExamination[@cursor].ID" value="@ig.ID" />
                                    <i></i>
                                </label>
                            </td>
                            <td>@(ig.ImmunoglobulinType.Name)</td>
                            <td>@(ig.DateTaken.ToString("dd/MM/yyyy"))</td>
                            <td>@(ig.Value.ToString())</td>
                        </tr>
                        cursor++;
                    }
                </tbody>
            </table>
        </div>
    }
}