<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 profile-pic">
                <img src="/img/avatars/@(Model.Patient.Gender).png" alt="patient">
            </div>
            <div class="col-sm-6">
                <h1>
                    @(Model.Patient.FirstName) <span class="semi-bold">@(Model.Patient.LastName)</span>
                    <br>
                    <small><strong> @(Model.Patient.RM2Number)</strong></small>
                </h1>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-venus-mars"></i>&nbsp;&nbsp;<span class="txt-color-darken">@(Model.Patient.Gender.ToUpper())</span>
                        </p>
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-birthday-cake"></i>&nbsp;&nbsp;<span class="txt-color-darken">@(Model.Patient.DOB.ToString("dd/MMM/yyy")) (@(Model.Patient.Age()) years)</span>
                        </p>
                    </li>
                    @if (Model.Patient.PatientStatus != null)
                    {
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;<span class="txt-color-darken">Status:&nbsp;@(Model.Patient.PatientStatus.Name)</span>
                            </p>
                        </li>
                    }
                    @if (Model.Patient.IsDeceased())
                    {
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-bolt"></i>&nbsp;&nbsp;<span class="txt-color-darken">Death:&nbsp;@(Model.Patient?.DateOfDeath.ToString("dd/MMM/yyy"))</span>
                            </p>
                        </li>

                    }
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="label label-success">Visit Date&nbsp;@(Model.VisitDate.ToString("dd/MMM/yyy"))</span>
                        </p>
                    </li>
                </ul>
                @foreach (var group in Model.PatientExaminations)
                {
                    @foreach (PatientExamination examination in group)
                    {
                        switch (examination.Discriminator)
                        {
                            case "MeasurementExamination":
                                var measurement = (MeasurementExamination)examination;
                                
                                    <div class="row" style="font-size: 16px">
                                            <section class="col col-2" style="width: 100px; float: left"><span class="label label-primary">Weight/Height:</span> </section>
                                            <section class="col col-9"><span class="label label-default">@measurement.AsDetailedString()</span></section>
                                     </div>


                                break;
                            case "SGRQExamination":
                                var sgrq = (SGRQExamination)examination;
                                <div class="row" style="font-size: 16px">
                                    <section class="col col-2" style="width: 100px; float: left"><span class="label label-primary">SGRQ:</span> </section>
                                    <section class="col col-9" style="width: 300px; float: left"><span class="label label-default">@sgrq.AsDetailedString()</span></section>
                                </div>
                                break;
                            case "ImmunologyExamination":
                                var ig = (ImmunologyExamination)examination;
                                <div class="row" style="font-size: 16px">
                                    <section class="col col-2" style="width: 100px; float: left"><span class="label label-primary">Ig Levels:</span> </section>
                                    <section class="col col-9" style="width: 300px; float: left"><span class="label label-default">@ig.AsDetailedString()</span></section>
                                </div>
                                break;
                            case "RadiologyExamination":
                                var rad = (RadiologyExamination)examination;
                                <div class="row" style="font-size: 16px">
                                    <section class="col col-2" style="width: 100px; float: left"><span class="label label-primary">Radiology:</span> </section>
                                    <section class="col col-9" style="width: 300px; float: left"><span class="label label-default">@rad.AsDetailedString()</span></section>
                                </div>
                                break;
                        }
                    }
                }
                <br>
            </div>
        </div>
    </div>
</div>