@using AspergillosisEPR.Models.PatientViewModels;

<div class="col col-12 col-sm-12 col-md-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Action</th>
                    <th>Result</th>
                    <th></th>
                </tr>
            </thead>            
            @foreach (var group in Model)
            {
                <tbody>
                    @foreach (PatientExamination examination in group)
                    {
                        switch (examination.Discriminator)
                        {
                            case "MeasurementExamination":
                                var measurement = (MeasurementExamination)examination;
                                <tr>
                                    <td></td>
                                    <td>@PatientVisitsDataTableViewModel.ExaminationNameFromClass(examination.Discriminator)</td>
                                    <td>@measurement.AsDetailedString()</td>
                                    <td>@if ((bool)ViewBag.ShowButtons)
                                    {
                                        <div class="col-sm-12" id="immunology-chart">
                                            <a href="@Url.Action("Measurements", "Charts", new { patientId= measurement.PatientVisit.Patient.ID})" data-id="@(measurement.PatientVisit.Patient.ID)" class="pdf-hide btn-hide btn-xs disable-default btn btn-primary show-measurement-chart" style="padding: 5px">
                                                <i class="fa fa-line-chart"></i>
                                            </a>
                                        </div>
                                    }      </td>
                                </tr>
                                break;
                            case "SGRQExamination":
                                var sgrq = (SGRQExamination)examination;
                                <tr>
                                    <td></td>
                                    <td>@PatientVisitsDataTableViewModel.ExaminationNameFromClass(examination.Discriminator)</td>
                                    <td>@sgrq.AsDetailedString()</td>
                                    <td>
                                        @if ((bool) ViewBag.ShowButtons)
                                        {
                                        <div class="col-sm-12" id="sgrq-chart">
                                            <a href="@Url.Action("SGRQ", "Charts", new { patientId = sgrq.PatientVisit.Patient.ID })" data-id="@(sgrq.PatientVisit.Patient.ID)" class="pdf-hide btn-hide btn-xs disable-default btn btn-primary show-sgrq-chart" style="padding: 5px">
                                                <i class="fa fa-line-chart"></i>
                                            </a>
                                        </div>
                                        }
                                    </td>
                                </tr>
                                break;
                            case "ImmunologyExamination":
                                var ig = (ImmunologyExamination)examination;
                                <tr>
                                    <td></td>
                                    <td>@PatientVisitsDataTableViewModel.ExaminationNameFromClass(examination.Discriminator)</td>
                                    <td>@ig.AsDetailedString()</td>
                                    <td>
                                        @if ((bool)ViewBag.ShowButtons)
                                        {
                                            <div class="col-sm-12" id="immunology-chart">
                                                <a href="@Url.Action("Immunology", "Charts", new { patientId= ig.PatientVisit.Patient.ID})" data-id="@(ig.PatientVisit.Patient.ID)" class="pdf-hide btn-hide btn-xs disable-default btn btn-primary show-immunology-chart" style="padding: 5px">
                                                    <i class="fa fa-line-chart"></i>
                                                </a>
                                            </div>
                                        }                                        
                                    </td>
                                           
                                </tr>
                                break;
                            case "RadiologyExamination":
                                var rad = (RadiologyExamination)examination;
                                <tr>
                                    <td></td>
                                    <td>@PatientVisitsDataTableViewModel.ExaminationNameFromClass(examination.Discriminator)</td>
                                    <td>@rad.AsDetailedString()</td>
                                    <td></td>
                                </tr>
                                break;
                        }
                    }
                </tbody>
            }
        </table>
    </div>
</div>