@model AspergillosisEPR.Models.PatientViewModels.PatientVisitDetailsViewModel
<div class="modal fade" tabindex="-1" role="dialog" id="visit-details-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Patient <strong>@(Model.Patient.FullName)</strong> visit on: @(Model.VisitDate.ToString("dd-MM-yyyy"))</h4>
            </div>
            <div class="modal-body">
                <hr class="simple">
                <ul id="visits-tab" class="nav nav-tabs bordered">
                    <li class="active">
                        <a href="#actual" data-toggle="tab"><i class="fa fa-fw fa-lg fa-calendar-check-o"></i> @(Model.VisitDate.ToString("dd-MM-yyyy")) </a>
                    </li>
                    <li>
                        <a href="#other" data-toggle="tab"><i class="fa fa-fw fa-lg fa-calendar-plus-o"></i> Other Visits</a>
                    </li>
                </ul>
                   
            </div>
            <div id="visits-tab-content" class="tab-content padding-10">
                <div class="tab-pane fade in active details" id="actual">
                    @Html.Partial("/Views/PatientVisits/_Details.cshtml", Model)
                </div>
                <div class="tab-pane fade details" id="other">
                    @Html.Partial("/Views/PatientVisits/_OtherVisits.cshtml", Model)
                </div>
            </div>
                <div class="modal-footer">
                    <a href="@Url.Action("VisitDetails", "PdfExports", new { id = Model.VisitId })"class="export-trigger btn btn-danger patient-visit-export disable-default" disabled="disabled" data-file="pdf" data-id="@Model.Patient.ID" data-visit-id="@Model.VisitId">
                        <i class="fa fa-file-pdf-o"></i>&nbsp; PDF
                    </a>                 
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('div.modal-backdrop.in').remove()">Close Window</button>
                </div>
            </div>
    </div>
</div>
@Html.Partial("/Views/Patients/Charts/_Ig.cshtml")
@Html.Partial("/Views/Patients/Charts/_SGRQ.cshtml")
@Html.Partial("/Views/Patients/Charts/_Measurements.cshtml")
@Html.Partial("/Views/PatientVisits/_Export.cshtml")