@model AspergillosisEPR.Models.Patient


@if (Model.PatientSmokingDrinkingStatus != null)
{
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">                
                <tbody>               
                    <tr>
                        <td>Smoker</td>
                        <td>@(Model.PatientSmokingDrinkingStatus.SmokingStatus.Name)</td>
                    </tr>
                    @if (Model.PatientSmokingDrinkingStatus.SmokingStatus.Name != "Never")
                    {
                        @if (Model.PatientSmokingDrinkingStatus.StartAge != null)
                        {
                            <tr>
                                <td>Start Age</td>
                                <td>@(Model.PatientSmokingDrinkingStatus.StartAge)</td>
                            </tr>
                        }
                        @if (Model.PatientSmokingDrinkingStatus.StopAge != null)
                        {
                            <tr>
                                <td>Stop Age</td>
                                <td>@(Model.PatientSmokingDrinkingStatus.StopAge)</td>
                            </tr>
                        }

                        @if (Model.PatientSmokingDrinkingStatus.CigarettesPerDay != null)
                        {
                            <tr>
                                <td>Cigarettes Per Day</td>
                                <td>@(Model.PatientSmokingDrinkingStatus.CigarettesPerDay)</td>
                            </tr>
                        }

                        @if (Model.PatientSmokingDrinkingStatus.PacksPerYear != null)
                        {
                            <tr>
                                <td>Packs Per Year</td>
                                <td>@(Model.PatientSmokingDrinkingStatus.PacksPerYear)</td>
                            </tr>
                        }

                        @if (Model.PatientSmokingDrinkingStatus.AlcolholUnits != null)
                        {
                            <tr>
                                <td>Alcohol Units</td>
                                <td>@(Model.PatientSmokingDrinkingStatus.AlcolholUnits)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-block">
            <h4 class="alert-heading">Info!</h4>
            <i class="fa fa-info-circle"></i>
            This patient does not have any recorded information about smoking status
        </div>
    </div>
}