@model AspergillosisEPR.Models.CaseReportForms.CaseReportFormField
<div class="field-row">
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label asp-for="Label" class="input">
                    <input asp-for="@(Model.Label)" name="Fields[@((string)ViewBag.Index)].Label" placeholder="Enter field label" />
                </label>
            </section>
            <section class="col col-6">
                <label class="select">
                    <label asp-for="CaseReportFormFieldTypeId" class="select">
                        @Html.DropDownList("Fields[" + (string)ViewBag.Index + "].CaseReportFormFieldTypeId", (SelectList)ViewBag.FieldTypes, "Select Field Type")
                        <i></i>
                        <span asp-validation-for="CaseReportFormFieldTypeId" class="text-danger"></span>
                    </label>
                </label>
            </section>            
        </div>
        <div class="row">
                <h4>Optional (for checkbox and select/multiselect types)</h4>
                <section class="col col-12 col-md-12 col-xs-12" data-index="@((string)ViewBag.Index)">
                    <label asp-for="SelectedOptionsIds" class="select">
                        @Html.DropDownList("Fields[" + (string)ViewBag.Index + "].SelectedOptionGroup", (SelectList)ViewBag.OptionGroups, "Select Option Group", new { @class = "option-group", @data_index = (string)ViewBag.Index })
                        <i></i>
                        <span asp-validation-for="SelectedOptionsIds" class="text-danger"></span>
                    </label>
                </section> 
                <section class="col col-12 col-md-12 col-xs-12 hide options" data-index="@((string)ViewBag.Index)">
                </section> 
        </div>
        <div class="row">
            <a href="javascript:void(0)" class="btn btn-danger remove-partial pull-right btn-lg" data-what="Case Report Form Field" data-toggle="tooltip" data-title="Remove this field?" style="padding: 5px">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </fieldset>
</div>