@model AspergillosisEPR.Models.PatientViewModels.NewPatientVisitViewModel
@using AspergillosisEPR.Helpers

@if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
{
    <a href="@Url.Action("New", "PatientRadiologyFindings")" class="btn btn-success add-radiology add-new-patient-partial disable-default" data-visible-row="div.drug-row:visible" data-insert-into-class="div.measurement-form" style="padding: 5px;margin-top: 15px; margin-bottom: 10px">
        <i class="fa fa-plus"></i>
        <span>
            <strong>Add entry</strong>
        </span>
    </a>
}


@if (Model.PatientRadiologyFindings != null)
{
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <tbody>
                @for(var cursor = 0; cursor < Model.PatientRadiologyFindings.OrderByDescending(q => q.DateTaken).Count(); cursor++)
                {
                    var radiology = Model.PatientRadiologyFindings.OrderByDescending(q => q.DateTaken).ToList()[cursor];
                    <tr class="row-with-date" data-unix-date="@(DateHelper.DateTimeToUnixTimestamp(radiology.DateTaken))">
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" name="RadiologyExamination[@cursor].Selected" />
                                <input type="hidden" name="RadiologyExamination[@cursor].ID" value="@radiology.ID" />
                                <i></i>
                            </label>
                        </td>
                        <td>@(radiology.RadiologyType.Name)</td>
                        <td>@(radiology.DateTaken.ToString("dd/MM/yyyy"))</td>
                        <td>@(radiology.Appearance)</td>
                    </tr>
                    @if (!string.IsNullOrEmpty(radiology.Note))
                    {
                        <tr class="row-with-date" data-unix-date="@(DateHelper.DateTimeToUnixTimestamp(radiology.DateTaken))">
                            <td></td>
                            <td></td>
                            <td>Note:</td>
                            <td>@(radiology.Note)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>


    </div>

}