@model AspergillosisEPR.Models.Patient
@using AspergillosisEPR.Models.Patients;
<div class="col-12 row diagnosis-form" style="margin: 0px !important">
    @for (int i = 0; i < Model.PatientDiagnoses.Count; i++)
    {        
        PatientDiagnosis diagnosis = Model.PatientDiagnoses.ToList()[i];
        <div class="diagnosis-row">
            <input type="hidden" value="@diagnosis.ID" name="Diagnoses[@(i.ToString())].ID" />
            <fieldset>
                <div class="row">
                    <label class="select">
                        <label asp-for="@(diagnosis.DiagnosisCategoryId)" class="select">
                            @Html.DropDownList("Diagnoses[" + i.ToString() + "].DiagnosisCategoryId", (SelectList)ViewBag.DiagnosisCategories[i], "Select Diagnosis Category")
                            <i></i>
                            <span asp-validation-for="@(diagnosis.DiagnosisCategoryId)" class="text-danger"></span>
                        </label>

                    </label>
                </div>
                <div class="row">
                    <label class="select">
                        <label asp-for="@(diagnosis.DiagnosisTypeId)" class="select">
                            @Html.DropDownList("Diagnoses[" + i.ToString()+"].DiagnosisTypeId", (SelectList)ViewBag.DiagnosisTypes[i], "Select Diagnosis", new { @class="select2-search", @style="width: 100% !important"})
                            <i></i>
                            <span asp-validation-for="@(diagnosis.DiagnosisTypeId)" class="text-danger"></span>
                        </label>
                    </label>
                </div>
                <div class="row">
                    <label class="textarea">
                        <i class="icon-append fa fa-comment"></i>
                        @Html.TextArea("Diagnoses[" + i.ToString() + "].Description", diagnosis.Description, new { @class = "comment", @rows = 5, @placeholder = "Diagnosis Comment" })
                    </label>
                </div>
            </fieldset>
            <div class="row">
                <a href="@Url.Action("Delete", "PatientDiagnoses", new { id = diagnosis.ID})" class="btn btn-danger remove-existing-item pull-right btn-lg" data-id="@diagnosis.ID" data-what="diagnosis" data-toggle="tooltip" data-title="Remove diagnosis" style="padding: 5px">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    }    
</div>
@if (User.IsInRole("Update Role") || User.IsInRole("Admin Role"))
{
<a href="@Url.Action("EditDiagnosisForm", "Partials")" class="btn btn-success add-edit-diagnosis edit-patient-partial" style="padding: 5px" data-visible-row="div.diagnosis-row:visible" data-insert-into-class="div.diagnosis-form">
    <i class="fa fa-plus"></i>
    <span>
        <strong>Add diagnosis</strong>
    </span>
</a>
}