@model AspergillosisEPR.Models.Patient
<div class="col-12 row drug-form" style="margin: 0px !important">


    @for (int i = 0; i < Model.PatientDrugs.Count; i++)
    {

        PatientDrug drug = Model.PatientDrugs.ToList()[i];

        <div class="drug-row">
            <input type="hidden" value="@drug.ID" name="Drugs[@(i.ToString())].ID" />
            <fieldset>
                <div class="row">
                    <label class="select">
                        <label asp-for="@(drug.DrugId)" class="select">
                            @Html.DropDownList("Drugs[" + i.ToString() + "].DrugId", (SelectList)ViewBag.Drugs[i], "Select Drug")
                            <span asp-validation-for="@(drug.DrugId)" class="text-danger"></span>
                        </label>
                    </label>
                </div>
            </fieldset>
            <section class="col col-6">
                <label asp-for="@(drug.StartDate)" class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input asp-for="@drug.StartDate" id="Drugs_@(i.ToString())__StartDate" placeholder="Start date" name="Drugs[@(i.ToString())].StartDate" class="datepicker">
                    <span asp-validation-for="@drug.StartDate" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-6">
                <label asp-for="@(drug.EndDate)" class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input asp-for="@drug.EndDate" id="Drugs_@(i.ToString())__EndDate"  placeholder="End date" name="Drugs[@(i.ToString())].EndDate" class="datepicker">
                    <span asp-validation-for="@drug.EndDate" class="text-danger"></span>
                </label>
            </section>
            <div class="row">
                <label class="select side-effects">
                        <p>Please select drug side effects from the list (if applicable)</p>
                        @(Html.DropDownList("Drugs[" + i.ToString() + "].SideEffects", (MultiSelectList)ViewBag.SideEffects[i], new { multiple = "multiple", @class = "select2", @style = "width: 100%", @data_placeholder = "Type side effect name to start search" }))
                </label>
            </div>
            <div class="row">
                <a href="@Url.Action("Delete", "PatientDrugs", new { id = drug.ID})" class="btn btn-danger remove-existing-drug pull-right btn-lg" data-id="@drug.ID" data-what="drug" data-toggle="tooltip" data-title="Remove drug" style="padding: 5px">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>        

    }

</div>
@if (User.IsInRole("Update Role") || User.IsInRole("Admin Role"))
{
<a href="@Url.Action("EditDrugForm", "Partials")" class="btn btn-success add-edit-drug edit-patient-partial" style="padding: 5px" data-visible-row="div.drug-row:visible" data-insert-into-class="div.drug-form">
    <i class="fa fa-plus"></i>
    <span>
        <strong>Add Drug</strong>
    </span>
</a>
}