@model AspergillosisEPR.Models.Patient
@using AspergillosisEPR.Models.Patients;

<div class="col-12 row trial-form" style="margin: 0px !important">
    @for (int i = 0; i < Model.MedicalTrials.OrderByDescending(q => q.IdentifiedDate).ToList().Count; i++)
    {
        PatientMedicalTrial trial = Model.MedicalTrials.OrderByDescending(q => q.IdentifiedDate).ToList()[i];
        <div class="patient-medical-trail">
            <fieldset>
                <div class="row">
                    @Html.Hidden("PatientMedicalTrial[" + i.ToString() + "].ID", trial.ID)
                    <section class="col col-6">
                        <label asp-for="@(trial.MedicalTrialId)" class="select">
                            @Html.DropDownList("PatientMedicalTrial[" + i.ToString() + "].MedicalTrialId", (SelectList)ViewBag.MedicalTrialsIds[i], "Select Medical Trial")
                            <i></i>
                            <span asp-validation-for="@(trial.MedicalTrialId)" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label asp-for="@(trial.PatientMedicalTrialStatusId)" class="select">
                            @Html.DropDownList("PatientMedicalTrial[" + i.ToString() + "].PatientMedicalTrialStatusId", (SelectList)ViewBag.MedicalTrialStatusIds[i], "Select Trial Status")
                            <i></i>
                            <span asp-validation-for="@(trial.PatientMedicalTrialStatusId)" class="text-danger"></span>
                        </label>
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <section class="col col-6">
                    <label asp-for="@trial.Consented" class="checkbox">
                        <input type="checkbox" asp-for="@trial.Consented" >
                        <i></i> Patient Consented?
                    </label>
                </section>
                <section class="col col-4">
                    <label asp-for="@trial.ConsentedDate" class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input asp-for="@trial.ConsentedDate" placeholder="Consented date" class="datepicker" type="text" name="PatientMedicalTrial[@(i.ToString())].ConsentedDate"  id="PatientMedicalTrial_@(i.ToString())__ConsentedDate">
                    </label>
                </section>
            </fieldset>
            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label asp-for="@trial.IdentifiedDate" class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input asp-for="@trial.IdentifiedDate" placeholder="Identified date" class="datepicker"  type="text" value="@trial.IdentifiedDate.ToString("dd-MM-yyyy")" name="PatientMedicalTrial[@(i.ToString())].IdentifiedDate"  id="PatientMedicalTrial_@(i.ToString())__IdentifiedDate">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label asp-for="@trial.RecruitedDate" class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input asp-for="@trial.RecruitedDate" placeholder="Recruited date" class="datepicker"  type="text"  name="PatientMedicalTrial[@(i.ToString())].RecruitedDate"  id="PatientMedicalTrial_@(i.ToString())__RecruitedDate" >
                        </label>
                    </section>
                    <section class="col col-4"></section>
                </div>
            </fieldset>
                <div class="row">
                    <a href="@Url.Action("Delete", "PatientMedicalTrials", new { patientId = trial.PatientId, id = trial.ID})" class="btn btn-danger remove-existing-item pull-right" data-id="@trial.ID" data-what="Patient Trial Enrollment" data-toggle="tooltip" data-title="Remove Patient Trial Enrollment" style="padding: 5px">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
        </div>
    }
    </div>
@if (User.IsInRole("Update Role") || User.IsInRole("Admin Role"))
{
    <a href="@Url.Action("EditPatientMedicalTrialForm", "Partials")" class="btn btn-success edit-trial edit-patient-partial" data-visible-row="div.patient-medical-trail:visible" data-insert-into-class="div.trial-form" style="padding: 5px">
        <i class="fa fa-plus"></i>
        <span>
            <strong>Enroll this patient to a trial</strong>
        </span>
    </a>
}