@model AspergillosisEPR.Models.PatientViewModels.PatientWithMeasurements;
@using AspergillosisEPR.Models.Patients;

<div class="col-12 row measurement-form" style="margin: 0px !important">
    @for (int i = 0; i < Model.Measurements.OrderByDescending(q => q.DateTaken).ToList().Count; i++)
    {
        PatientMeasurement measurement = Model.Measurements.OrderByDescending(q => q.DateTaken).ToList()[i];
        <div class="patient-measurement">
            <input type="hidden" value="@measurement.ID" name="PatientMeasurements[@(i.ToString())].ID" />
            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="input" asp-for="@measurement.DateTaken">
                            <i class="icon-append fa fa-calendar"></i>
                            <input asp-for="@measurement.DateTaken" name="PatientMeasurements[@(i.ToString())].DateTaken" id="PatientMeasurement_@(i.ToString())__DateTaken" type="text" placeholder="Date Taken" class="date-taken" />
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input" asp-for="@measurement.Weight">
                            <i class="icon-append fa fa-dashboard"></i>
                            <input asp-for="@measurement.Weight" name="PatientMeasurements[@(i.ToString())].Weight" id="PatientMeasurement_@(i.ToString())__Weight" placeholder="Weight">
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input" asp-for="@measurement.Height">
                            <i class="icon-append fa fa-text-height"></i>
                            <input asp-for="@measurement.Height" name="PatientMeasurements[@(i.ToString())].Height" id="PatientMeasurement_@(i.ToString())__Height" placeholder="Height">
                        </label>
                    </section>

                </div>
                <div class="row">
                    <a href="/patients/@(Model.Patient.ID)/Measurements/Delete/@(measurement.ID)" class="btn btn-danger remove-existing-item pull-right btn-lg" data-id="@(measurement.ID)" data-what="Weight and height entry" data-toggle="tooltip" data-title="Remove Patients measurement?" style="padding: 5px">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </fieldset>
        </div>
    }
</div>
@if (User.IsInRole("Update Role") || User.IsInRole("Admin Role"))
{
    <a href="@Url.Action("EditWeightHeight", "Partials")" class="btn btn-success edit-measurement edit-patient-partial" data-visible-row="div.patient-measurement:visible" data-insert-into-class="div.measurement-form" style="padding: 5px">
        <i class="fa fa-plus"></i>
        <span>
            <strong>Add Weight and Height entry</strong>
        </span>
    </a>
}