@model List<AspergillosisEPR.Models.PatientMeasurement>;
@using AspergillosisEPR.Helpers

<div class="col-sm-12">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Select</th>
                <th>Date Taken</th>
                <th>Weight</th>
                <th>Height</th>
            </tr>
        </thead>
        <tbody>
            @for (int cursor = 0; cursor < Model.Count; cursor++)
            {
                var patientMeasurement = Model[cursor];
                <tr class="row-with-date" data-unix-date="@(DateHelper.DateTimeToUnixTimestamp(patientMeasurement.DateTaken))">
                    <td>
                        <label class="checkbox">
                            @{
                                var measurementList = (List<int>)ViewBag.SelectedMeasurements;
                                var isChecked = measurementList.Contains(patientMeasurement.ID);
                                if (isChecked)
                                {

                                    <input type="checkbox" name="MeasurementExamination[@cursor].Selected" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="MeasurementExamination[@cursor].Selected" />
                                }
                            }

                           
                            <input type="hidden" name="MeasurementExamination[@cursor].ID" value="@patientMeasurement.ID" />
                            <i></i>
                        </label>
                    </td>
                    <td>@(patientMeasurement.DateTaken.ToString("dd-MMM-yyyy"))</td>
                    <td>@(patientMeasurement.Weight)</td>
                    <td>@(patientMeasurement.Height)</td>
                </tr>

            }
        </tbody>
    </table>
</div>