@model AspergillosisEPR.Models.PatientViewModels.PatientSearchViewModel
<fieldset>

    <div class="search-criteria-row">
        <section class="col col-2 hide">
            <label class="select">
                <label class="select">
                    @Html.DropDownList("PatientSearchViewModel["+ @Model.Index + "].AndOR", new SelectList(new List<string>() { "AND", "OR" }, "OR"))
                    <span asp-validation-for="SearchClass" class="text-danger"></span>
                </label>
                <i></i>
            </label>
        </section>
        <section class="col col-2">
            <label class="select">
                <label class="select">
                    @Html.DropDownList("PatientSearchViewModel[" + @Model.Index + "].SearchClass", (SelectList)ViewBag.CriteriaClasses, new { @class = "criteria-class", @data_url = Url.Action("CriteriaPartial", "Partials") })
                    <span asp-validation-for="SearchClass" class="text-danger"></span>
                </label>
                <i></i>
            </label>
        </section>
        <section class="col col-2">
            <label class="select">
                <label class="select">
                    @Html.DropDownList("PatientSearchViewModel[" + @Model.Index + "].Field", (SelectList)ViewBag.PatientFields, new { @class = "criteria-field", @data_index = Model.Index })
                    <span asp-validation-for="SearchCriteria" class="text-danger"></span>
                </label>
                <i></i>
            </label>
        </section>
        <section class="col col-2 criteria-match">
            <label class="select">
                <label class="select">
                    @Html.DropDownList("PatientSearchViewModel[" + @Model.Index + "].SearchCriteria", (SelectList)ViewBag.CriteriaMatches, new { @class = "criteria-match" })
                    <span asp-validation-for="SearchCriteria" class="text-danger"></span>
                </label>
                <i></i>
            </label>
        </section>
        <section class="col col-2 search-value">
            <label class="input">
                <input name="PatientSearchViewModel[@Model.Index].SearchValue" id="PatientSearchViewModel_@(Model.Index)__SearchValue" type="text" placeholder="Search Value">
            </label>
        </section>
        <section class="col col-2 buttons">
            <a href="@Url.Action("SearchPartial", "Partials")" title="Add criteria" class="btn btn-success add-search-criteria disable-default" style="padding: 8px">
                <i class="fa fa-plus"></i>&nbsp;
            </a>
            <a href="javascript;void" title="Remove criteria" class="btn btn-danger remove-search-criteria disable-default" style="padding: 8px">
                <i class="fa fa-trash"></i>&nbsp;
            </a>
        </section>
    </div>
</fieldset>