@model AspergillosisEPR.Models.PatientViewModels.PatientWithTestResult
<div class="modal fade" tabindex="-1" role="dialog" id="lab-test-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.Patient.FullName, RM2: @(Model.Patient.RM2Number), ID: @(Model.Patient.ID)</h4>
            </div>
            <div class="modal-body">
                <h4>@Model.TestType.Name</h4>
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>SampleId</th>
                                <th>Value</th>
                                <th>Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var testResult in Model.PatientTestResults.OrderByDescending(d => d.DateTaken))
                            {
                                <tr>
                                    <td>@(testResult.DateTaken.ToString("dd/MM/yyyy"))</td>
                                    <td>@(testResult.SampleId)</td>                                   
                                    <td>@(testResult.ResultWithUnit())</td>
                                    <td>@(testResult.Range)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->