<aside id="left-panel">
    @addTagHelper *, AspergillosisEPR
    @{ await Html.RenderPartialAsync("_CurrentUser"); }
    <nav>
        <ul>
            <li is-active-route asp-controller="Home" asp-action="Index">
                <a href="@Url.Action("index", "Home")" title="Patients">

                    <i class="fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">Patients</span>
                </a>
            </li>
            <li is-active-route asp-controller="PatientSearches" asp-action="New">
                <a href="@Url.Action("new", "PatientSearches")" title="Users">
                    <i class="fa fa-search"></i>
                    <span class="menu-item-parent">Advanced search</span>
                </a>
            </li>
            <li is-active-route asp-controller="PatientVisits" asp-action="Index">
                <a href="@Url.Action("index", "PatientVisits")" title="Patient Visits">
                    <i class="fa fa-hospital-o"></i>
                    <span class="menu-item-parent">Patient Visits</span>
                </a>
            </li>
            <li is-active-route asp-controller="Settings" asp-action="Index">
                <a href="@Url.Action("index", "settings")" title="Settings">
                    <i class="fa fa-gear"></i>
                    <span class="menu-item-parent">Settings</span>
                </a>
            </li>
            <li is-active-route asp-controller="Users" asp-action="Index">
                <a href="@Url.Action("index", "users")" title="Users">
                    <i class="fa fa-users"></i>
                    <span class="menu-item-parent">Application Users</span>
                </a>
            </li>
            @if (User.IsInRole("Admin Role"))
            {
             <li is-active-route asp-controller="Imports" asp-action="Index">
                <a href="@Url.Action("Index", "imports")" title="Imports">
                    <i class="fa fa-download"></i>
                    <span class="menu-item-parent">Import data</span>
                </a>
             </li>
            }
            @if (User.IsInRole("Admin Role") || User.IsInRole("Reporting Role"))
            {
                <li is-active-route asp-controller="Reports" asp-action="Index">
                    <a href="@Url.Action("index", "reports")" title="Reports">
                        <i class="fa fa-area-chart"></i>
                        <span class="menu-item-parent">Reports</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>