@using AspergillosisEPR.Helpers;
<!DOCTYPE html>
<html class="smart-style-6">
<head>
    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewData["Title"] - AspergillosisEPR</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-skins.css">
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" media="print" href="~/css/print.css">
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.css" />    
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/medical-icons.css" />
    <link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
</head>
<body class="pace-done smart-style-6 hidden-menu" data-action="toggleMenu">
    <header id="header">
        <span class="AntiForge"> @Html.AntiForgeryToken() </span>
        @if (User.Identity.IsAuthenticated)
        {
            await Html.RenderPartialAsync("_Header");
            <section id="top-right">
                @(IsSectionDefined("topright") ? RenderSection("topright", false) : Html.Partial("_TopRight"))
            </section>
        }        
    </header>
@if (User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("_Aside"); 
}
<div id="main" role="main">      
@if (User.Identity.IsAuthenticated)
{
  await Html.RenderPartialAsync("_Ribbon"); 
}
          
    <div id="content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-home"></i>
                <span>
                    @ViewData["Title"]
                </span>
            </h1>
            @RenderBody()
        </div>
    </div>
    <div id="modal-container"></div>
</div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="current-user-roles" data-roles="" data-id=""></div>
    }
    @{ await Html.RenderPartialAsync("_Scripts"); }

    @{ RenderSection("scripts", false); }
</body>
</html>
