@using AspergillosisEPR.Helpers;
<!DOCTYPE html>
<html class="smart-style-6">
@Html.Partial("/Views/Shared/_Head.cshtml")
<body class="pace-done smart-style-6 hidden-menu" data-action="toggleMenu">
    @Html.Partial("/Views/_ViewImports.cshtml")
    <header id="header">
        <span class="AntiForge"> @Html.AntiForgeryToken() </span>
        @if (User.Identity.IsAuthenticated)
        {
            await Html.RenderPartialAsync("_Header");
            <section id="top-right">
                @(IsSectionDefined("topright") ? RenderSection("topright", false) : Html.Partial("_TopRight"))
            </section>
        }        
    </header>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Anonymous Role") && !User.IsInRole("Read Role"))
    {
        await Html.RenderPartialAsync("_AnonymousAside");
    }
    else
    {
        await Html.RenderPartialAsync("_Aside");
    }
}
<div id="main" role="main">      
@if (User.Identity.IsAuthenticated)
{
  await Html.RenderPartialAsync("_Ribbon"); 
}
          
    <div id="content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-home"></i>
                <span>
                    @ViewData["Title"]
                </span>
            </h1>
            @Html.Partial("_FlashMessage")
            @RenderBody()
        </div>
    </div>
    <div id="modal-container"></div>
</div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="current-user-roles" data-roles="" data-id=""></div>
    }
    @{ await Html.RenderPartialAsync("_Scripts"); }

    @{ RenderSection("scripts", false); }
    <script>
        jQuery(function () {
            App.init();
            Search.init();
            CaseReportForms.showCRFModal();
            CaseReportForms.onOptionGroupSelectChange();
        })
    </script>
</body>
</html>
