@model AspergillosisEPR.Models.Patient
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 profile-pic">
                <img src="img/avatars/@(Model.Gender).png" alt="patient">
            </div>
            <div class="col-sm-6">
                <h1>
                    @(Model.FirstName) <span class="semi-bold">@(Model.LastName)</span>
                    <br>
                    <small><strong> @(Model.RM2Number)</strong></small>
                </h1>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-venus-mars"></i>&nbsp;&nbsp;<span class="txt-color-darken">@(Model.Gender.ToUpper())</span>
                        </p>
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-birthday-cake"></i>&nbsp;&nbsp;<span class="txt-color-darken">@(Model.DOB.ToString("dd/MMM/yyy")) (@(Model.Age()) years)</span>
                        </p>
                    </li>
                    @if (Model.PatientStatus != null)
                    {
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;<span class="txt-color-darken">Status:&nbsp;@(Model.PatientStatus.Name)</span>
                            </p>
                        </li>
                    }
                    @if (Model.IsDeceased())
                    {
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-bolt"></i>&nbsp;&nbsp;<span class="txt-color-darken">Death:&nbsp;@(Model.DateOfDeath.Value.ToString("dd/MMM/yyy"))</span>
                            </p>
                        </li>

                    }
                </ul>
                <br>                
            </div>            
        </div>
    </div>
</div>