@model AspergillosisEPR.Models.PatientViewModels.PatientDetailsViewModel
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 profile-pic">
                @if (!string.IsNullOrEmpty(Model.Patient.Gender))
                {
                    <img src="/img/avatars/@(Model.Patient.Gender).png" alt="patient">
                }
               
            </div>
            <div class="col-sm-6">
                <h1>
                    @(Model.Patient.FirstName) <span class="semi-bold">@(Model.Patient.LastName)</span>
                    <br>
                    <small><strong>RM2: @(Model.Patient.RM2Number)</strong></small>
                    @if (!string.IsNullOrEmpty(Model.Patient.NhsNumber))
                    {
                        <br><small><strong>NHS: @(Model.Patient.NhsNumber)</strong></small>
                    }
                </h1>
                <ul class="list-unstyled">
                    <li>
                    @if (!string.IsNullOrEmpty(Model.Patient.Gender))
                    {
                        <p class="text-muted">
                            <i class="fa fa-venus-mars"></i>&nbsp;&nbsp;<span class="txt-color-darken">@(Model.Patient.Gender.ToUpper())</span>
                        </p>
                    }
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-birthday-cake"></i>&nbsp;&nbsp;<span class="txt-color-darken">@(Model.Patient.DOB.ToString("dd/MMM/yyy")) (@(Model.Patient.Age()) years)</span>
                        </p>
                    </li>
                    @if (Model.Patient.PatientStatus != null)
                    {
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;<span class="txt-color-darken">Status:&nbsp;@(Model.Patient.PatientStatus.Name)</span>
                            </p>
                        </li>
                    }
                    @if (Model.Patient.IsDeceased())
                    {
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-bolt"></i>&nbsp;&nbsp;<span class="txt-color-darken">Death:&nbsp;@(Model.Patient.DateOfDeath.Value.ToString("dd/MMM/yyy"))</span>
                            </p>
                        </li>

                    }

              
                </ul>
                <br>                
            </div>           
            <div class="col col-sm-12 col-md-12 col-lg-12">
                @if (!string.IsNullOrEmpty(Model.Patient.GenericNote))
                {
                            <pre>@(Model.Patient.GenericNote)</pre>

                }
            </div>
        </div>
    </div>
</div>
