@model AspergillosisEPR.Models.PatientViewModels.PatientDetailsViewModel
@if (Model.PatientImmunoglobulines != null && Model.PatientImmunoglobulines.Any())
{
    @if (Model.ShowButtons)
    {
        <div class="col-sm-12" id="immunology-chart">
            <a href="@Url.Action("Immunology", "Charts", new { patientId= Model.Patient.ID})" data-id="@(Model.Patient.ID)" class="pdf-hide btn-hide btn-lg disable-default btn btn-primary show-immunology-chart" style="padding: 5px">
                <i class="fa fa-line-chart"></i>&nbsp; Show Charts
            </a>
        </div>

    }
    <div class="tab-content tabs-left col-3 col-sm-3">
        <ul class="nav nav-tabs tabs-left">
            @{ int index = 0; }
            @foreach (var igGroup in Model.PatientImmunoglobulines.OrderByDescending(ig => ig.DateTaken).GroupBy(ig => ig.ImmunoglobulinType.Name))
            {
                <li class="@(index == 0 ? "active" : "")">
                    <a href="#@(igGroup.Key.ToLowerInvariant().Replace(" ", "-"))" data-toggle="tab">@igGroup.Key</a>
                </li>
                index++;
            }
        </ul>
    </div>
    <div class="tab-content padding-10 col-9">
        @{ int index2 = 0; }
        @foreach (var igGroup in Model.PatientImmunoglobulines.OrderByDescending(ig => ig.DateTaken).GroupBy(ig => ig.ImmunoglobulinType.Name))
        {
            <div class="tab-pane @(index2 == 0 ? "active in" : "")" id="@(igGroup.Key.ToLowerInvariant().Replace(" ","-"))">
                <h3>@igGroup.Key</h3>
                <div class="pull-left col-9 col-sm-9">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                @if (igGroup.Key.Equals("Total IgE"))
                                {
                                    <th>Sample Id</th>
                                    <th>Range</th>
                                }
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ig in igGroup)
                            {
                                <tr>
                                    <td>@(ig.DateTaken.ToString("dd/MM/yyyy"))</td>
                                    @if (ig.ImmunoglobulinType.Name.Equals("Total IgE"))
                                    {
                                        <td>@(ig.SampleId)</td>
                                        <td>@(ig.Range)</td>
                                    }
                                    <td>@(ig.Value.ToString())</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            index2++;
        }
    </div>

}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-block">
            <h4 class="alert-heading">Info!</h4>
            <i class="fa fa-info-circle"></i>
            This patient does not currently take any immunoglobuline levels recorded in database
        </div>
    </div>

}

